.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #374d7a;
    color: white;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.links-container {
    display: flex;
    align-items: center;
}

.link {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.link:hover {
    text-decoration: underline;
}

.button {
    margin-left: 15px;
    cursor: pointer;
    background: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
}

.button:hover {
    background: darkred;
}
